div {
    width: 100%;
    height: 800px;
}

ul, li {
    position: relative;
    width: 50%;
    margin: 0;
    top: 50px;
    color: orange;
}

.carParams{
    
    width: 50%;
    float: left;
}

.HUD {
    float: right;
}

.raceResults {
    position:absolute;
    left:500px;
    top:50px;
    z-index:+1;
}